.on-button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .off-button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .lightdiv {
    display: grid;
    place-items: center;
  }
  .titlediv {
    display: grid;
    place-items: center;
  }
  .OUT_TEXTdiv {
    display: grid;
    place-items: center;
  }
  .on-button {
    float: left;
	text-align: center;
  }
  .div1 {
    display: flex;
    justify-content: center;
    align-items:center;
  }

  